<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="resources/css/style.css">
  <link rel="stylesheet" href="/resources/css/sacolao.style.css">

  <title>Bem vindo</title>
  <style>

  </style>
</head>

<body class="text-center">
  <div class="contenedor">
    <h1>Página Inicial</h1>
    <% if (login) { %>
      <h1>Usuario conectado: <strong>
          <%= name %>
        </strong></h1>
      <a href="logout" class="a-logout">Logout</a>
      <%} else { %>
        <h1><strong>
            <%= name %>
          </strong></h1>
        <a href="login" class="a-login">Ir a Login</a>
        <% } %>
  </div>
  <br>
  <br>


  <main>
    <br>
     <form id="form" enctype="multipart/form-data" action="http://localhost:3001/clientes/" method="POST" > 
      <label for="nome">Nome do Produto:</label>
      <input type="text" id="nome" name="nome" value="">
      <label for="cpf">Preço: R$:</label>
      <input type="text" id="preco" name="preco" value="">
      <button  formtarget="_blank">Inserir</button>
      <label for="id" style="margin-left: 50px;width:10px" ;>ID:</label>
      <input type="text" id="id" name="id" value="" style="width:40px;">
      <button id="botao-proc" onclick="listByID();" class="icone" alt="Procurar">Procurar</button><br>
    </form>


    <ul> </ul>
  </main>


  <script>
    var myList = document.querySelector('ul');
    listByID(``); //No refresh
    function listaClientes(clientes) {
      for (var i = 0; i < clientes.length; i++) {
        var listItem = document.createElement('li');
        listItem.innerHTML += `<label style="margin-left: 10px;" > ID: </label>`
        listItem.innerHTML += `<input type="text" id="id-${clientes[i].id}" value="${clientes[i].id}"; style="width: 20px"">`;
        listItem.innerHTML += `Nome: <input type="text" id="nome-${clientes[i].id}" value="${clientes[i].nome}" ;">`;
        listItem.innerHTML += `Preço: <input type="text" id="cpf-${clientes[i].id}" value="${clientes[i].preco}" ;">`;

        listItem.innerHTML += `<img src="${clientes[i].imagem_clientes}" width="50" >`;

        listItem.innerHTML += `<button id="botao-del" onclick="deleta(${clientes[i].id});" src="" alt="Excluir" class="icone">Deletar</button>`;
        listItem.innerHTML += `<button id="botao-att" onclick="atualizar(${clientes[i].id});" src="" alt="Editar" class="icone">Atualizar</button>`;
        myList.appendChild(listItem);
      }
    }
    function listByID(id) {
      myList.innerHTML = ""
      id = document.getElementById(`id`).value
      fetch('http://localhost:3001/clientes/' + id)
        .then(function (response) {
          console.log(response.json)
          if (!response.ok) { throw new Error("HTTP error, status = " + response.status); }
          return response.json();
        })
        .then((clientes) => listaClientes(clientes))
    }

    function deleta(id) {
      fetch('http://localhost:3001/clientes/' + id, {
        method: 'DELETE'
      });
      //alert("Excluido com sucesso!")
      window.location.reload();
    }
    function atualizar(id) {
      const nome = document.getElementById(`nome-${id}`).value;
      const preco = document.getElementById(`preco-${id}`).value;
      fetch('http://localhost:3001/clientes/' + id, {
        method: 'PATCH',
        body: `{"nome": "${nome}", "preco": "${preco}" }`,
        headers: { "Content-Type": "application/json" }
      });
      //alert("atualizado com sucesso!"); window.location.reload;
    }

    function inserir() {
      const nome = document.getElementById("nome").value;
      const preco = document.getElementById("preco").value;
      //const imagem_clientes = document.getElementById("imagem_clientes").files[0];
      fetch('http://localhost:3001/clientes/', {
        method: 'POST',
        body: `{"nome": "${nome}", "preco": "${preco}" }`,
        headers: { "Content-Type": "multipart/form-data; boundary=something" }
      });
      //alert("Registro Inserido com sucesso!")
      listByID(``);
    }
  </script>
</body>

</html>